@import "_mixins.scss";
@import "_variables.scss";


/*Material loader color*/
$material-loader-color: #0091ea;

/* Dark colors */
$dark-button-color: #ccc;
$dark-modal-background: #212121;
$dark-modal-color: #c1bfbf;
$dark-closebtn-background: rgba(0, 0, 0, 0.1);

/* Light colors */
$light-button-color: #222;
$light-modal-background: #fff;
$light-modal-color: #000;
$light-closebtn-background: rgba(0, 0, 0, 0.1);
/*Modal size*/
$full-modal-width: calc(100% - 140px);
$full-modal-height: calc(100% - 140px);
$full-modal-maxWidth: 100% !important;
/*Modal fonts*/
$modal-header-font: Arial, Helvetica, sans-serif;
$modal-body-font: "Trebuchet MS", Helvetica, sans-serif;
$modal-position: 3em;
/*Light modal colors*/
$light-modal-overlay: rgba(0, 0, 0, 0.6);
/*Dark modal colors*/
$dark-modal-overlay: rgba(0, 0, 0, 0.8);


big-modal-con {
  width: 100%;
  height: 100vh;
  background: $dark-modal-overlay;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  visibility: hidden;
  > modal {
    max-width: $full-modal-maxWidth;
    background: $light-modal-background;
    color: $light-modal-color;
    line-height: normal;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.1) !important;
    pointer-events: auto !important;
    padding: 10px;
    visibility: hidden;
    &.big{
       width: $full-modal-width;
       height: $full-modal-height;
    }
    > .close {
        color: #fff;
        position: absolute;
        top: -50px;
        right: -50px;
        text-decoration: none;
    }
  }
}

@media screen and (max-width: 700px), screen and (max-height: 300px) {
  big-modal-con {
    > modal {
      width: calc(100% - 40px) !important;
      height: calc(100% - 40px) !important;
      > .close {
        cursor: pointer;
        color: #222;
        top: 5px;
        right: 5px;
      }
    }
  }
}

big-modal-con {
  &.fadeIn {
    visibility: visible !important;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    @include animation(fadeIn 2s);
  }
  &.fadeOut {
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    @include animation(fadeOut 1s);
    visibility: hidden;
  }
  > modal {
    &.slideDownIn {
      @include animation(slideDownIn 1s ease);
      visibility: visible !important;
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*#######################################################SlideDown*/

@include keyframes(slideDownIn) {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hideElem {
  visibility: hidden;
}

