@import "_mixins.scss";
@import "_variables.scss";


*:hover,
*:focus {
  outline: none;
}

.btn {
  margin-top: 5px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: color('basic');
  color: color('dark');
  border: 0px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  transition: all 150ms linear;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  > i {
    font-size: 15px;
    vertical-align: middle;
    margin-top: -2px;
    transition: all 0.5s linear 0s;
    position: relative;
    &:nth-child(1) {
      position: relative;
      left: -5px;
    }
    &[ani],
    &[move] {
      left: 0px;
      right: 0px;
    }
  }
  &:hover {
    transition: all 150ms linear;
    opacity: 0.9;
    > i {
      &[ani="left"] {
        @include animation(ani-left 1s infinite);
        @include keyframes(ani-left) {
            10% { left: 0px;}
            50%{ left: -5px}
         };
      }
      &[ani="right"] {
        @include animation(ani-right 1s infinite);
        @include keyframes(ani-right) {
            10% { left: 0px;}
            50%{ left: 5px}
         };
      }
      &[ani="rotate"] {
        @include animation(ani-rotate 1s infinite);
        @include keyframes(ani-rotate) {
            from{ transform: rotate(0deg); }
            to{ transform: rotate(360deg); }
         };
      }

      &[move="left"] {
        @include animation(ani-left 1s 1);
      }
      &[move="right"] {
        @include animation(ani-right 1s 1);
      }
      &[move="rotate"] {
        @include animation(ani-rotate 1s 1);
      }
    }
  }
  &:active {
    transition: all 150ms linear;
    opacity: 0.7;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
  &.outline {
    background: transparent;
    border: color('basic') 1px solid;
    color: #222;
    @include hoverColor(color('basic'), color('dark'));
  }
  &.text{
    background: transparent;
    box-shadow: none;
  }
  &.round, 
  &.transparent{
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  > i {
    font-size: 20px;
    left: 0;
    right: 0;
  }
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background: rgba(#2196f3, 0.8);
    border-radius: 50%;
    margin: -6px -5.5px;
    display: inline-block;
    position: absolute;
    transform: scale(0);
    transition: all 0.5s linear 0s;
  }
}
}

.link {
  margin-top: 5px;
  padding: 10px 15px;
  text-decoration: none;
  background: transparent;
  box-shadow: none;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  font-family: Tahoma, Geneva, sans-serif;
}

btn.btn[ts] {
  background: transparent;
  text-align: center;
  box-shadow: none;
  > i {
    font-size: 20px;
  }
  &:hover {
    box-shadow: none;
  }
}

@mixin colorClass($name, $tag) {
  @if $tag == "a" {
    color: color($name);
  } 
  @else {
    background: color($name);
    &.gradient{
      background: color($name+"-gradient");
    }
    &.outline{
      background: transparent;
      border: color($name) 1px solid;
    }
    @if $name == "snow" {
      color: color('dark');
      &[outline]{
        color: color('dark');
      }
      @include hoverColor(color($name), color('dark'));
    } @else if $name == "yellow" {
      color: color('dark');
      &.outline{
        color: color('dark');
        @include hoverColor(color($name), color('dark'));
      }
    } @else {
      color: color('light');
      &.outline{
        color: color($name);
        @include hoverColor(color($name), color('light'));
      }
      &.text{
        color: color($name);
      }
    }
     &.text{
      background: transparent;
    }
  }
}

$color_vars: "earth", "night", "ocean", "red", "snow", "yellow", "purple", "pink";


@include build-color-class(".btn", $color_vars);
@include build-color-class(".link", $color_vars);


