@import "_mixins.scss";
@import "_variables.scss";


$modal-primary-font: "Ubuntu", sans-serif;
$modal-secondary-font: "Rubik", sans-serif;
$modal-position: 2em;


.card{
  width: 300px;
  height: auto;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  > img{
    width: 100%;
    clear: both;
  }
  > p{
    margin: 0;
    height: auto;
    line-height: 1.25rem;
    font-weight: 400;;
    font-family: $font;
    font-size: .875rem;
    letter-spacing: .01786em;
    padding: 1rem;
  }
  > .header{
    width: 90%;
    height: auto;
    margin: 0px auto;
    position: relative;
    padding: 1rem;
    > label{
      font-family: $font;
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: .0125em;
      color: inherit !important;
    }
    > span{
      display: block;
      color: color('grey');
      font-family: $font;
      position: relative;
      font-size: .875rem;
      line-height: 1.375rem;
      font-weight: 500;
      letter-spacing: .00714em;
      top: 4px;
    }
  }
  > .content{
    width: 90%;
    height: auto;
    line-height: 1.25rem;
    font-weight: 400;;
    font-family: $font;
    font-size: .875rem;
    letter-spacing: .01786em;
    padding: 0 1rem 8px;
  }
  > action{
    width: 95%;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 8px;
     button{
      padding: 8px;
      display: inline-block;
     > i{
        vertical-align: middle;
      }
      &.round{
        width: 35px;
        height: 35px;
      }
    }
  }
}
