@import "_mixins.scss";
@import "_variables.scss";


* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notrans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  transition: margin-left .5s;
  &.overlay {
    overflow: hidden;
    &.fadeIn {
      &:after {
        visibility: visible !important;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        @include animation(fadeIn .5s);
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 140vh;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      visibility: hidden;
    }
  }
}
.drawer {
  width: 258px;
  height: 100vh;
  max-width: calc(100% - 56px);
  background: #fff;
  position: fixed;
  transition: left .4s;
  top: 0px;
  left: -100%;
  z-index: 2;
  border-right: 1px solid #ccc;
  > .header {
    flex-shrink: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 64px;
    padding: 0 16px 4px;
    &.image {
      text-indent: 15px;
      display: inline-block;
    }
    > img {
      width: 45px;
      height: 45px;
      float: left;
      border-radius: 50%;
      vertical-align: middle;
    }
    > .title {
        color: rgba(#000, .87);
        font-family: $font;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: .0125em;
        text-decoration: inherit;
        text-transform: inherit;
        display: block;
        margin-top: 0;
        line-height: normal;
        margin-bottom: -20px;
      &:before {
        display: inline-block;
        width: 0;
        height: 36px;
        content: "";
        vertical-align: 0;
      }
      &:after {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: -20px;
      }
    }
    > .subtitle {
        font-family: $font;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: .01786em;
        text-decoration: inherit;
        text-transform: inherit;
        display: block;
        margin-top: 0;
        line-height: normal;
        margin-bottom: 0;
        color: rgba(#000, .6);
      &:before{
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: 0;
        content: "";
      }
    }
  }
  > .content {
      width: auto;
      height: calc(100% - 55px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
      }
      h6.subheader {
      color: rgba(0,0,0,.60);
        font-family: $font;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;
        letter-spacing: .01786em;
        text-decoration: inherit;
        text-transform: inherit;
        display: block;
        margin-top: 0;
        line-height: normal;
        margin: 0;
        padding: 0 16px;
        &:before {
          display: inline-block;
          width: 0;
          height: 24px;
          content: "";
          vertical-align: 0;
        }
      }
    > nav.list {
        font-family: $font;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: .00937em;
        text-decoration: inherit;
        text-transform: inherit;
        color: rgba(0,0,0,.60);
        margin: 0;
        padding: 8px 0;
        line-height: 1.5rem;
        list-style-type: none;
        box-shadow: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        > hr {
          height: 0;
          margin: 3px 0 4px;
          border: none;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgba(0,0,0,.12);
        }
        > a {
          color: rgba(#000, .6);
          font-family: $font;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: .875rem;
          line-height: 1.375rem;
          font-weight: 700;
          letter-spacing: .00714em;
          text-decoration: inherit;
          text-transform: inherit;
          height: 40px;
          margin: 8px;
          padding: 0 8px;
          display: flex;
          position: relative;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: start;
          justify-content: flex-start;
          overflow: hidden;
          border-radius: 4px;
          &:hover {
            background: #eee;
          }
          &:first-child {
            margin-top: 2px;
          }
          &:before {
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
          }
          &:after {
            transition: opacity .15s linear;
          }
          > i {
            color: rgba(#000,.60);
            margin-left: 0;
            margin-right: 32px;
            width: 24px;
            height: 24px;
            font-size: 24px;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            fill: currentColor;
          }
        }
      }
    }
  }

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  @include animation(fadeOut 1s);
  visibility: hidden;
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
