$default-break-point: 600px;

@mixin build-grid() {
  @for $i from 1 through 100 {
    > .col-#{$i} {
      flex-basis: #{$i+"%"};
    }
  }
}

@mixin build-break-points() {
  @for $i from 1 through 10 {
    .break-#{$i} {
      @media screen and (max-width: #{$i+"00px"}) {
        flex-flow: column wrap;
        display: block;
        > * {
          flex: 0;
        }
      }
    }
  }
}

.row {
  width: 100%;
  height: auto;
  display: flex;
}

.row {
  > * {
    flex: 1 1 auto;
  }
  @include build-grid();
}

@include build-break-points();

/*Default breaking point */
@media screen and (max-width: $default-break-point) {
  .row {
    flex-flow: column wrap;
    display: block;
    > * {
      flex: 0;
    }
  }
}
