@import "_mixins.scss";
@import "_variables.scss";

/*@!
################################################################
@!*/

*:hover,
*:focus {
  outline: none;
}
*:hover,
*:focus {
  outline: none;
}

.input {
  position: relative;
  > input{
    width: 100%;
    background: transparent;
    padding: 8px 0px;
    border: none;
    border-bottom: 2px solid color('grey');
    transition: border-color .5s;
    cursor: pointer;
    &:focus ~ label,
    &:valid ~ label{
      bottom: 32px;
      font-size: 12px;
    }
    
    &:hover, &:focus {
      border-bottom: 2px solid color('dark');
      &:active, &:focus{
        cursor: text;
      }
    }
  }
  > label{
    position: absolute;
    display: block;
    bottom: 8px;
    font-sizE: 17px;
    font-family: $font;
    transition: all 200ms;
    color: color('grey');
    z-index: -1;
  }
}

@mixin colorClass($name, $tag) {
  > input{
    &:hover, &:focus{
       border-color: color($name);
      & ~ label{
        color: color($name);
      }
    }
  }
}

$color_vars: "earth", "night", "ocean", "red", "snow", "yellow", "purple", "pink";
@include build-color-class(".input", $color_vars);
