.list {
  max-width: 100%;
  height: auto;
  list-style: none;
  padding: 8px 0;
  border-radius: 4px;
  background: #fff;
  > li {
    width: auto;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 16px;
    color: #424242;
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
      -apple-system;
    &:hover {
      background: #efefef;
    }
    > a {
      text-decoration: none;
      color: #424242;
    }
    > div span {
      &.title {
        color: #424242;
      }
      &.subtitle {
        display: block;
        font-size: 14px;
        color: #999;
      }
    }
    > i {
      font-size: 24px;
      vertical-align: middle;
      color: #999;
      position: relative;
      margin-right: 32px;
      &.trail-icon {
        margin-right: 0;
        margin-top: 12px;
        display: inline-block;
        float: right;
        position: relative;
      }
    }
    &.two-line {
      padding: 8px 16px;
      height: 56px;
      line-height: 20px;
      display:flex;
      align-items: center;
      .lead-icon {
        margin-right: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #fff;
        background-color: #999;
        text-align: center;
        float: left;
        border-radius: 50%;
      }
      > .trail-icon {
        display: inline-block;
        margin: 0 0 0 auto;
      }
      + hr {
        margin: 0;
      }
    }
  }
  > hr {
    width: 100%;
    height: 1px;
    border: none;
    background: #d9d9d9;
  }
}
