@import "_mixins.scss";
@import "_variables.scss";

$height: 48px;

.menu {
  width: auto;
  min-width: 120px;
  height: auto;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14),
  0 3px 14px 2px rgba(0,0,0,.12);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14),
  0 3px 14px 2px rgba(0,0,0,.12);
   list-style: none;
  padding: 8px 0 8px 0;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  position: absolute;
  top: 0px;
  z-index: 1;
  border-radius: 4px;
  > li {
    height: $height;
    line-height: $height;
    padding: 0 16px;
    > a {
      width: 100%;
      text-align: left;
      font-family: $font;
      font-size: 1rem;
      color: color('dark');
      text-decoration: none;
      border-radius: 0;
      > i {
        vertical-align: middle;
      }
    }
    &:hover {
      background: #f2f2f2 !important;
    }
  }
  > hr{
    width: 100%;
    height: 1px;
    border: none;
    background: #d9d9d9;
  }
}

/*CSS Animations*/

.pullDown{
    visibility: visible;
    animation-name: pullDown;
    -webkit-animation-name: pullDown;

    animation-duration: .15s;
    -webkit-animation-duration: .15s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.pullUp{
    visibility: hidden;
    animation-name: pullDown;
    -webkit-animation-name: pullDown;

    animation-duration: .1s;
    -webkit-animation-duration: .1s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-direction:reverse;


    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}
