@import "_mixins.scss";
@import "_variables.scss";
@import "input.scss";


/*Modal size*/
$modal-width: 350px;
$modal-height: 150px;
$modal-maxWidth: 85% !important;
/*Modal fonts*/
$modal-primary-font: "Ubuntu", sans-serif;
$modal-secondary-font: "Rubik", sans-serif;
$modal-position: 2em;

*:hover, *:focus{
  outline: none;
}

svg[md-loader] {
  @include animation(rotate 2s linear infinite);
  width: 35px;
  vertical-align: middle;
  circle {
    fill: none;
    stroke: color('blue');
    stroke-dasharray: 2, 155;
    stroke-dashoffset: 0;
    @include animation(dash 1.35s cubic-bezier(0.4, 0, 0.2, 1) infinite);
  }
}

@include keyframes(rotate) {
  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(dash) {
  0% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 122, 20;
    stroke-dashoffset: -20;
  }
  100% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: -155;
  }
}

modal-con {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  visibility: hidden;
  > modal {
    width: $modal-width;
    height: $modal-height;
    max-width: $modal-maxWidth;
    color: color('dark');
    background: color('light', .9);
    line-height: normal;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.1) !important;
    pointer-events: auto !important;
    visibility: hidden;
    overflow: hidden;
    > header {
      width: 88%;
      height: 45px;
      line-height: 35px;
      margin: 12px auto 0px auto;
      font-size: 16px;
      font-family: $modal-primary-font;
      font-weight: bold;
      color: inherit !important;
    }
    > main {
      width: 88%;
      height: auto;
      font-size: 15px;
      display: block;
      margin: 12px auto 0px auto;
      font-family: $modal-secondary-font;
      > input {
        width: 100%;
        font-size: 17px;
        border: none;
        border-bottom: 1.5px solid color('dark');
        padding-bottom: 2px;
        margin-top: 6px;
        padding: 4px;
        padding-left: 0px;
        padding-right: 0px;
        background: transparent;
      }
      > p {
        font-size: 12px;
        color: inherit;
        margin-left: 6px;
        position: relative;
        top: -25px;
      }
      > .md-input{
        max-width: 305px;
        margin-top: -10px;
      }
    }
    > action {
      width: 100%;
      height: 48px;
      margin: 0px auto;
      line-height: 48px;
      text-align: right;
      position: absolute;
      bottom: 0;
      > button {
        background: transparent;
        border: none;
        padding: 4px;
        font-weight: bold;
        outline: none;
        font-family: $modal-primary-font;
        text-size: 15px;
        color: color('blue');
        margin-right: 20px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
    &.decision{
      width: 250px;
      height: 100px;
      min-width: 200px;
      > header{
        line-height: 25px;
        font-weight: normal;
      }
    }
    &.loader {
      width: 230px;
      height: 95px;
      text-align: center;
      > main{
        margin: 0 auto;
      }
      &.small{
        width: 50px;
        height: 50px;
        > svg{
          position: relative;
          top: 8px;
        }
      }
      &.medium{
        width: 100px;
        height: 80px;
        padding: 10px;  
        text-align: center;
        color: color('dark');
        > svg{
          width: 50px;
          height: 50px;
        }
        > span{
          position: relative;
          top: 10px;
          font-family: $modal-primary-font;
          color: inherit;
        }
      }
      > header {
        text-align: left;
        height: auto;
        line-height: 30px;
        font-weight: normal !important;
        font-size: 17px;
        > label {
          font-size: 16px;
        }
      }
      
      > main {
        > div {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:nth-child(1) {
            width: 45px;
            text-align: center;
          }
          &:nth-child(2) {
            text-align: left;
            text-indent: 10px;
            width: calc(100% - 45px);
            font-family: $modal-secondary-font;
          }
        }
      }
    }
  }
}

modal-con {
  &.dark {
    > modal {
      background: color('dark');
      > header,
      > main{
         color: color('light', .7);
      }
      &.medium{
        color: color('light');
      }
    }
  }
  &.light {
      > modal {
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1),
          0 5px 30px 0 rgba(0, 0, 0, 0.1);
        > header,
        > main{
           color: color('dark');
        }
      }
  }
  
  &.overlay {
    pointer-events: auto;
    background: color('dark', .6);
    &.light{
      background: color('light', .6);
    }
  }

  &.top {
    > modal {
      top: $modal-position;
      bottom: auto !important;
    }
  }
  &.bottom {
    > modal {
      top: auto !important;
      bottom: $modal-position;
    }
  }
  &.left {
    > modal {
      right: auto !important;
      left: $modal-position;
    }
  }
  &.right {
    > modal {
      right: $modal-position;
      left: auto !important;
    }
  }
}

@media screen and (max-width: 400px) {
  modal-con {
    &.left,
    &.right {
      margin: 0px auto;
      right: 0px !important;
      left: 0px !important;
    }
    > modal{
      &.decision{
         width: 70%;
      } 
    }
  }
}

@mixin colorClass($name, $tag) {
  @if $tag == 'modal'{
    > action{
      > button{
        color: color($name);
      }
    }
    &.gradient{
      background: color($name+"-gradient");
      color: color('light');
      > header{
        color: color('light');
      }
      > action{
        > button{
          color: color('light');
        }
      }
      @if $name == "yellow"{
        color: color('dark');
        > action {
          > button{
            color: color('dark');
          }
        }
      }
      @if $name == "snow"{
        color: color('dark');
        > action {
          > button{
            color: color('dark');
          }
        }
      }
    }
  }
  
  @else{
    background: color($name, .8);
    &.gradient{
      background: color($name+"-gradient");
    }
  }
}

@media screen and (max-width: 400px) {
  modal-con {
    &.left,
    &.right {
      > modal{
         margin: 0px auto;
         right: 0px !important;
         left: 0px !important;  
      }
    }
  }
}


$color_vars: "earth", "night", "ocean", "red", "snow", "yellow", "purple", "pink";
@include build-color-class(modal, $color_vars);
@include build-color-class(modal-con, $color_vars);
 
modal-con {
  &.fadeIn {
    visibility: visible !important;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    @include animation(fadeIn 2s);
  }
  &.fadeOut {
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    @include animation(fadeOut 1s);
    visibility: hidden;
  }
  > modal {
    &.slideDownIn {
      @include animation(slideDownIn 1s ease);
      visibility: visible !important;
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(slideDownIn) {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hideElem {
  visibility: hidden;
}

