@import "_mixins.scss";
@import "_variables.scss";

$radio-size: 20px;
$gap: 10px;

*:hover,
*:focus {
  outline: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio {
  margin: 16px 0;
  display: inline-block;
  input[type="radio"] {
    display: none;
    &:checked + label:before {
      border-color: color('cyan');
    }
    &:checked + label:after {
      transform: scale(1);
    }
  }
  label {
    display: inline-block;
    height:$radio-size;
    position: relative;
    padding: 0 ($radio-size + 10px);
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    &:before, &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all .3s ease;
      transition-property: transform, border-color;
    }
    &:before {
      box-sizing: border-box;
      left: 0;
      top: 0;
      width: $radio-size;
      height: $radio-size;
      border: 2px solid rgba(#000, 0.54)
    }
    &:after {
      box-sizing: border-box;
      top: $radio-size / 2 - $gap / 2;
      left: $radio-size / 2 - $gap / 2;
      width: $gap;
      height: $gap;
      transform: scale(0);
      background: color('cyan');
    }
  }
}

@mixin colorClass($name, $tag) {
  & input[type=radio]:checked + label:before {
    border-color: color($name);
  }
  label {
    &:after {
      background: color($name);
    }
  }
}

$color_vars: "cyan", "earth", "night", "ocean", "red", "yellow", "purple", "pink";
@include build-color-class(".radio", $color_vars);
