@import "_mixins.scss";
@import "_variables.scss";

:hover,
*:focus {
  outline: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range{
  -webkit-appearance: none;
  width: auto;
  height: 2px;
  border-radius: 4px;
  background: color('grey', .2);
  margin: 0;
  transition: background .5s ease-in-out;
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: color('basic');
    cursor: pointer;
    transition: all .15s ease-in;
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
            0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    &:hover{
      background: #1abc9c
    }
  }
  &:hover{
    background: color('grey', .6);
  }
  &:active{
    &::-webkit-slider-thumb{
      width: 20px;
      height: 20px;
      background: #fff;
    }
  }
}

@mixin colorClass($name, $tag){
     background: color($name, .7);
      &::-webkit-slider-thumb{
          background: color($name);
      }
}

$color_vars: "earth", "night", "ocean", "red", "snow", "yellow", "purple", "pink", "cyan";

@include build-color-class(".range", $color_vars);
