@import "_mixins.scss";
@import "_variables.scss";

.ripple {
  z-index: 1;
  position: relative;
  overflow: hidden !important;
  .rippleWave {
    width: 12px;
    height: 12px;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 100%;
    animation: ripple 1.6s;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(40);
    opacity: 0;
  }
}

@mixin colorClass($name, $tag) {
  &.text {
    > .rippleWave {
      background: color($name, 0.4) !important;
    }
  }
}


$color_vars: "cyan", "earth", "night", "ocean", "red", "snow", "yellow", "purple", "pink";

@include build-color-class(".ripple", $color_vars);

.ripple {
  &.light {
    .rippleWave {
      background: rgba(255, 255, 255, 0.3) !important;
    }
  }
  &.dark {
    .rippleWave {
      background: rgba(0, 0, 0, 0.3) !important;
    }
  }
}
