@import "_mixins.scss";
@import "_variables.scss";


*:hover,
*:focus {
  outline: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch {
  width: auto;
  min-width: 50px;
  position: relative;
  display: inline-block;
  color: color('dark');
  line-height: 18px;
  cursor: pointer;
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
    -apple-system;
  font-size: 14px;
  padding-right: 15px;
  clear: both;
  > input {
    &:empty {
      margin-left: -1000px;
      & ~ span {
        width: auto;
        position: relative;
        float: left;
        cursor: pointer;
        &:before {
          width: 30px;
          height: 13px;
          border-radius: 12px;
          background: #bdbdbd;
          top: 3px;
          left: 0px;
        }
        &:after {
          width: 17px;
          height: 17px;
          margin-left: 0.1em;
          border-radius: 50%;
          background: color('light');
          border: solid 2px color('light');
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
            0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
          top: -1px;
          left: -9px;
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
          -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
    &:checked {
      & ~ span:before {
        background: color('ocean', 0.8);
      }
      & ~ span:after {
        left: 15px;
        background: color('ocean');
        border-color: color('ocean');
      }
    }
  }
  > span {
    text-indent: 45px;
  }
}

@mixin colorClass($name, $tag) {
  > input {
    &:checked {
      & ~ span {
        &:before {
          background: color($name, 0.5);
        }
        &:after {
          left: 15px;
          background: color($name);
          border-color: color($name);
        }
      }
    }
  }
}

$color_vars: "earth", "night", "ocean", "red", "yellow", "purple", "pink";
@include build-color-class(".switch", $color_vars);
